.profile-posts {
  list-style: none;
  position: relative;
  border: 2px solid var(--color-white-darker-2);
  width: 80rem;
  padding: 0;
  margin-top: 2rem;
}



.profile-post {
  background-color: #fff;
  /* border-radius: 5px; */
  text-align: left;
  width: 100%;
}

.profile-post:not(:last-child) {
  border-bottom: 1px solid var(--color-white-darker-2);
}

.profile-post__top {
  padding: 1.5rem;
}

.profile-post__details {
  display: flex;
  margin-bottom: 2rem;
}

.profile-post__details-img-box {
  margin-right: 1rem;
}

.profile-post__details-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

.profile-post__details-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: auto;
}

.profile-post__details-text-box > * {
  margin: 0;
  padding: 3px 0;
}

.profile-post__details-username {
  font-size: 1.5rem;
  cursor: pointer;
}

.profile-post__details-date {
  font-size: 1.4rem;
  font-weight: 400;
}



.profile-post__delete {
  align-self: flex-start;
  color: var(--color-white);
  background-color: var(--color-bg);
  border: none;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}



.profile-post__content-box {
  margin-left: 2rem;
}

.profile-post__content {
  font-size: 1.8rem;
}

.profile-post__bottom {
  background-color: var(--color-white-darker);
  padding: 1.5rem;
}