.feed__container--right {
  flex: 1;
  height: 33rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  max-width: 25rem;
  justify-content: center;
  margin: 0 auto;
}

.suggestions__title {
  font-size: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .feed__container--right {
    height: 35rem;
  }
}

@media only screen and (max-width: 800px) {
  .feed__container--right {
    height: 38rem;
  }
}

@media only screen and (max-width: 720px) {
  .feed__container--right {
    display: none;
  }
}
