.suggestions__title {
  font-size: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .feed__container--right {
    height: 31.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .feed__container--right {
    height: 35rem;
  }
}

@media only screen and (max-width: 720px) {
  .feed__container--right {
    display: none;
  }
}
