.register {
  display: flex;
  background-color: var(--color-white);
  color: var(--color-text);
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 15rem;
  text-align: center;
}

.register__heading-1 {
  font-weight: 700;
  font-size: 6rem;
  align-self: center;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register__heading-2 {
  font-weight: 700;
  line-height: 1;
  /* margin: 2rem 0 1rem; */
  margin-top: 2rem;
}

.register__form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__form > * {
  margin-bottom: 1.5rem;
}

.register__form-btn {
  margin-top: 2rem;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: currentColor;
  font-weight: 700;
  background-color: var(--color-white-darker);
  transition: all 0.2s;
}

.register__form-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.register__form-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.register__form-btn:focus {
  outline: none;
}
